{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}
{% form_theme registrationForm 'bootstrap_4_layout.html.twig' %}
{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
    <!-- <div class="nes-container is-dark with-title"> -->
        <!-- <p class="title">{{'form_inscription.title' | trans }}</p> -->

        {{ form_start(registrationForm, {'attr': {'id': 'msform'}}) }}
        <ul id="progressbar">
            <li class="active">{{'form_inscription.parameter' | trans}}</li>
            <li>{{'form_inscription.personnal_data' | trans}}</li>
        </ul>
        <fieldset>
            <h2 class="fs-title">{{'form_inscription.title' | trans}}</h2>
            <h3 class="fs-subtitle">{{'form_inscription.account' | trans}}</h3>
            {{ form_row(registrationForm.email, {
                label: 'Email*'
            }) }}
            {{ form_row(registrationForm.pseudo, {
                label: 'Pseudo*'
            }) }}
            {{ form_row(registrationForm.plainPassword, {
                label: 'Mot de passe*'
            }) }}
            <input type="button" name="next" class="next action-button" value="Next" />
        </fieldset>
        <fieldset>
            <h2 class="fs-title">Personal Details</h2>
            <h3 class="fs-subtitle">We will never sell it</h3>
            {{ form_row(registrationForm.first_name, {
                label: 'First Name*'
            }) }}
            {{ form_row(registrationForm.last_name, {
                label: 'Last Name*'
            }) }}
            {{ form_row(registrationForm.telephone, {
                label: 'telephone*'
            }) }}
            {{ form_row(registrationForm.adress, {
                label: 'adress*'
            }) }}
            {{ form_row(registrationForm.agreeTerms, {
                label: 'Avez vous plus de 13ans'
            }) }}
            <input type="button" name="previous" class="previous action-button" value="Previous" />
        {{ form_end(registrationForm) }}
        </fieldset>

    <!-- </div> -->
    <section class="nes-container is-dark with-title">
        <p class="title">Note</p>
        <section class="message-list">
            <section class="message -left">
            <!-- Balloon -->
            <div class="nes-balloon from-left is-dark">
                <p>Un compte vous permettra de créer divers niveau que je me ferais un plaisir de traverser ! Il vous permettra également de partager votre création et vous mesurer a d'autres joueurs</p>
            </div>
            <i class="nes-mario"></i>
            </section>
        </section>
    </section>
{% endblock %}
{% block javascripts %}
{{ parent() }}
<script type="module" src="/js/registration.js"></script>
{% endblock %}
