{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
    {# <a class="btn btn-primary" role="button" href="#" style="margin-top: 10px;">{{ 'form_search.btn_create'|trans }}</a> #}
{% endif %}

{{ form_start(form, {attr: {class: 'filter'}}) }}
    {{ form_row(form.q) }}
    {{ form_row(form.tri)}}
    <button type="submit" class="btn btn-primary w-100">{{ 'form_search.submit'|trans }}</button>
{{ form_end(form) }}
