
<div class="quentin">
    <div class="card">
        <div class="face face1">
            <div class="content">
                <img src="{{ level.featuredImage }}"></img>
                <h2>{{ level.title | raw}}</h2>
                <p class="avg">Creer le: {{ level.date |date("d/m/Y")}}</p>
            </div>
        </div>
        <div class="face face2">
            <div class="content">
            <p>{{ level.content | raw }}</p>
                <a href="{{ path('level_show', {'id': level.id}) }}">Jouez</a>
                <p class="avg">note: {{ level.avg }}</p>
            </div>
        </div>
    </div>
</div>