{% extends 'base.html.twig' %}

{% block title %}Niveau de la communauté{% endblock %}
{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
{% endblock %}
{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <h1>{{ 'level.title'|trans }}</h1>
                <div class="nes-container is-dark with-title">
                    <p class="title">{{ 'level.filter' | trans}}</p>
                    {% include 'level/_filter.html.twig' with {form: form, min: min, max: max} only%}
                </div>
            </div>
            <div class="col-md-9">
                <div id="displayDate" class="grid">
                    {% for level in level %}
                        {%include 'level/_quentinCard.html.twig' %}
                    {% else %}
                </div>
            </div>
                <tr>
                    <p colspan="7">{{ 'level.no_result'|trans }}</p>
                </tr>
            {% endfor %}
        <div style="margin-top: 4rem;">
            {{ knp_pagination_render(level)}}
        </div>
    </div>
{% endblock %}
