{% extends 'base.html.twig' %}

{% block title %}{% endblock %}
{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row hidden">
        <div class="col-sm-3">
            <h1 class="bounce">{{ level.title |raw}}</h1>
            <p> {{ level.content | raw}}</p>
            <p> Note: {{ level.avg | raw}}</p>
            <div class="nes-container is-dark with-title">
                <p class="title">{{'home.controller' | trans}}</p>
                <ul>
                    <li>{{'home.jump' | trans}}</li>
                    <li>{{'home.left' | trans}}</li>
                    <li>{{'home.right' | trans}}</li>
                    <li>{{'home.run' | trans}}</li>
                </ul>
            </div>
            <div class="keymap">
                <div class="move">
                    <div class="keydown" data-char="Q">Q</div>
                    <div class="keydown" data-char="S">S</div>
                    <div class="keydown" data-char="D">D</div>
                </div>
                <div class="move center">
                    <div class="keydown" data-key= "32" data-char="Space">Space</div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 hidden">
            <div class="gameDisplay">
                <canvas id="screen" width="640" height="500">
                </canvas>
            </div>
        </div>
        <div class="col-sm-3">
            {%include 'level/_voteForm.html.twig' %}
        </div>
    </div>
</div>
    {# 
        <div class="row show_layout">
            <div class="col-md-3">
                <img src="{{ level.featuredImage}}" alt="">
            </div>
            <div class="col-md-6">
            <p class="avg">note: {{ level.avg }}</p>
                <h2>{{ level.title |raw}}</h2>
            </div>
            <div class="col-md-3 show_layout">
                {{ include('level/_voteform.html.twig') }}
            </div>
            <div class="col-xs-12">
                <p> {{ level.content | raw}}</p>
                <p>Date de publication: {{ level.date|date('d-m-y ') }}</p> 
            </div>
        </div>
        <div class="row justify-content-center">
        <section class="nes-container is-dark">
            <section class="message-list">
                <section class="message -left">
                    <i class="nes-mario"></i>
                    <div class="nes-balloon from-left is-dark">
                    <p>Désolé, cette fonctionnalité n'est pas encore implémenter, vous serez trés vite averti de la possibilité de jouer aux niveau d'autres joueurs.</p>
                    </div>
                </section>
            </section>
        </section>
    </section>
    </div> #}
        
    
            
    <a href="{{ path('level_index') }}">Revenir Aux niveaux</a>

    {% if is_granted ('edit', level) %} 

    <a href="{{ path('level_edit', {'id': level.id}) }}">{{ 'idea_show.btn_edit'|trans }}</a>
    {% endif %} 
    {% if is_granted ('delete', level) %} 
 
    {{ include('level/delete_form.html.twig') }}
    {% endif %} 
{% endblock %}
{% block javascripts %}
{{ parent() }}
<script type="module" src="/js/main.js"></script>
{% endblock %}
